IPEPSerie.Datas/Service References/ServiceReference/IPEPSerieService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52549/IPEPSerieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IPEPSerie.WCF" />
  <xs:element name="HelloIPEPS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloIPEPSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloIPEPSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultExample">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IPEPSerie.WCF" minOccurs="0" name="resulType" type="q1:IPEPSResultType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultExampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IPEPSerie.WCF" minOccurs="0" name="GetResultExampleResult" nillable="true" type="q2:IPEPSResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>