IPEPSerie.Datas/Service References/ServiceReference/IPEPSerieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IPEPSerieService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52549/IPEPSerieService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52549/IPEPSerieService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52549/IPEPSerieService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IPEPSerie.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIPEPSerieService_HelloIPEPS_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloIPEPS" />
  </wsdl:message>
  <wsdl:message name="IIPEPSerieService_HelloIPEPS_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloIPEPSResponse" />
  </wsdl:message>
  <wsdl:message name="IIPEPSerieService_GetResultExample_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResultExample" />
  </wsdl:message>
  <wsdl:message name="IIPEPSerieService_GetResultExample_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultExampleResponse" />
  </wsdl:message>
  <wsdl:portType name="IIPEPSerieService">
    <wsdl:operation name="HelloIPEPS">
      <wsdl:input wsaw:Action="http://tempuri.org/IIPEPSerieService/HelloIPEPS" message="tns:IIPEPSerieService_HelloIPEPS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIPEPSerieService/HelloIPEPSResponse" message="tns:IIPEPSerieService_HelloIPEPS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResultExample">
      <wsdl:input wsaw:Action="http://tempuri.org/IIPEPSerieService/GetResultExample" message="tns:IIPEPSerieService_GetResultExample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIPEPSerieService/GetResultExampleResponse" message="tns:IIPEPSerieService_GetResultExample_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIPEPSerieService" type="tns:IIPEPSerieService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloIPEPS">
      <soap:operation soapAction="http://tempuri.org/IIPEPSerieService/HelloIPEPS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResultExample">
      <soap:operation soapAction="http://tempuri.org/IIPEPSerieService/GetResultExample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IPEPSerieService">
    <wsdl:port name="BasicHttpBinding_IIPEPSerieService" binding="tns:BasicHttpBinding_IIPEPSerieService">
      <soap:address location="http://localhost:52549/IPEPSerieService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>